@import "../utils/variables.less";

.home{
    .header{
        background-image: url(../assets/imgs/Cryptid_house.png);
        width: 100vw;
        height: 60px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        .title{
            background-image: url(../assets/imgs/Cryptid_Title.png);
            width: 104px;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            margin: auto;
            @media @mobile{
                margin: 0;
                margin-left: 10px;
            }
        }
        .el-icon{
            width: 20px;
            height: 20px;
            position: absolute;
            margin-top: 14px;
            margin-left: 10px;
            @media @mobile{
                margin-left: 110px;
            }
        }
        .new-player{
            background-image: url(../assets/icons/person_add.svg);
            background-size: contain;
            position: absolute;
            width: 60px;
            height: 30px;
            top: 10px;
            right: 10px;
        }
        .el-select{ 
            position: absolute;
            top: 10px;
            right: 20px;
            width: 80px; 
        }
    }
    .sub-header{
        display: flex;
        height: 60px;
        >*{ margin: auto; }
        .negazioni-label,.num-label{ 
            margin-right: 4px; 
            font-size: 14px;
        }
        .el-switch,.el-select{ margin-left: 4px; }
        .el-select{ width: 60px; }
    }
    .el-scrollbar{
        height: calc(100vh - 120px);
        margin: 0;
        padding: 0;
    }
    .el-dialog{
        .title{
            font-size: 22px;
            color: black;
            font-weight: 700;
        }
        [class^="info"]{
            font-size: 14px;
            color: black;
            font-weight: 200;
            text-align: left;
            margin: 10px 0;
            
        }
        .legenda{
            .el-scrollbar{
                height: calc(100vh - 520px);
                .item{
                    display: flex;
                    align-items: center;
                    margin: 10px 0;
                    .icon{
                        width: @icon-size;
                        height: @icon-size;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        margin-right: 10px;
                        &.LoP{ background-image: url(../assets/icons/so.png) }
                        &.LoD{ background-image: url(../assets/icons/od.png) }
                        &.LoM{ background-image: url(../assets/icons/mo.png) }
                        &.LoF{ background-image: url(../assets/icons/of.png) }
                        &.PoD{ background-image: url(../assets/icons/ds.png) }
                        &.PoM{ background-image: url(../assets/icons/ms.png) }
                        &.PoF{ background-image: url(../assets/icons/fs.png) }
                        &.DoM{ background-image: url(../assets/icons/md.png) }
                        &.DoF{ background-image: url(../assets/icons/fd.png) }
                        &.MoF{ background-image: url(../assets/icons/mf.png) }
                        &.\31 L{ background-image: url(../assets/icons/ocean.svg)}
                        &.\31 D{ background-image: url(../assets/icons/desert.svg)}
                        &.\31 M{ background-image: url(../assets/icons/mountain.svg)}
                        &.\31 P{ background-image: url(../assets/icons/swamp.svg)}
                        &.\31 F{ background-image: url(../assets/icons/forest.svg)}
                        &.\31 A{ background-image: url(../assets/icons/animal-svgrepo-com.svg); }
                        &.\32 C{ background-image: url(../assets/icons/plain-triangle-svgrepo-com.svg); }
                        &.\32 M{ background-image: url(../assets/icons/hexagon-svgrepo-com.svg); }
                        &.\32 O{ background-image: url(../assets/icons/bear-svgrepo-com.svg); }
                        &.\32 P{ background-image: url(../assets/icons/panther-svgrepo-com.svg); }
                        &.\33 W{ background-image: url(../assets/icons/buildings_white.svg); }
                        &.\33 G{ background-image: url(../assets/icons/buildings_green.svg); }
                        &.\33 B{ background-image: url(../assets/icons/buildings_blue.svg); }
                        &.\33 N{ background-image: url(../assets/icons/buildings_black.svg); }
                    }
                }
            }
        }
    }
}